
.toolsClose1 {
  position: absolute;
  top: 5px;
  left: 500px;
  width: 30px;
  height: 30px;
  background-color:var(--backgroundButtons);
  display: none;
}

.toolsClose1:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}
