.info {
  position: absolute;
  top: 215px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color:var(--backgroundButtons);
}

.info:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}
