.testBotton {
  position: absolute;
  top: 253px;
  right: 50px;
  width: 30px;
  height: 30px;
  background-color: red;
}

.testBotton:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}