.compProps {
  position: absolute;
  top: 215px;
  right: 300px;
  width: 100px;
  height: 60px;
  background-color: blue;
  text-align: center
}

.compProps:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}
