.containerTools {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color:var(--backgroundButtons);
}

.toolsOpen:hover, .toolsClose:hover  {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}

.toolsClose {
  display: none;
}
