.tools--Open {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color:var(--backgroundButtons);
}
.tools--Open:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}

.tools--Close {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color:var(--backgroundButtons);
}
.tools--Close:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}

