.tools--Open01:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}

.tools--Open01 {
  position: absolute;
  top: 5px;
  left: 100px;
  width: 30px;
  height: 30px;
  background-color:var(--backgroundButtons);
}