.compChildren {
  position: absolute;
  top: 275px;
  right: 300px;
  width: 100px;
  height: 60px;
  background-color: green;
  text-align: center
}

.compChildren:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}
