
.view_2D {
  position: absolute;
  top:177px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color:var(--backgroundButtons);
  display: none;
}
.view_2D:hover {
  background-color:var(--colorTextSoftGrey); 
  cursor: pointer;
}