:root {
  /* Colors */
  --backgroundColorHeader: #2a2a2a;
  --backgroundColorFooter: #333;
  --colorTextHardGrey:rgb(112, 112, 112);
  --colorTextSoftGrey: #ccc;
  --colorTextSoftBlue: #337ab7;;
  --blue: #0078f2;
  --backgroundButtons: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: sans-serif;
}